* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

html,
body {
  margin: 0px;
  padding: 0px;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  /* text-align: center; */
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btnTop {
  margin: 20px;
  padding: 3px;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  color:#1d2737;
  /* border:none; */
  background-color:#f7f9fa;
}

.btnChange {
  margin: 20px;
  padding: 3px;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  color:#ffffff;
  background-color: #5a6f90;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.inCard {
  width: 250px;
  height: 350px;
  /* border: 1px solid black; */
  margin: 20px;
  padding: 8px;
  text-align: center;
}

button {
  padding: 3px;
  border-radius: 8px;
  border:none;
  outline: none;
  cursor: pointer;
  color:#ee5a36;
  /* border-color:#ee5a36; */
  font-weight:bold;
  background-color: #ffffff;
}

.modal {
  width: 60%;
  height: 80%;
  top: 50%;
  left: 50%;
  padding: 30px;
  border: 1px solid black;
  /* text-align: center; */
  display: block;
  position: fixed;
  right: 0px;
  bottom: 0px;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  background: white;
}

.showForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.showInput {
  display: flex;
  flex-direction: row;
  width:100%;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 10px;
}

.showLabel {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 10px;
}

.btnChangebtm{
  background-color: #ee5a36;
  color: #ffffff;
}

.btnbtm{
  border-color:#ee5a36;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

@media screen and (max-width: 700px) {
  .header .card .showForm .showInput .showLabel {
    flex-direction: column;
  }
}
